@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  line-height: 1.8;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.navbar h1 {
  color: red;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: black;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: red;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px dashed grey;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.blog-preview:hover {
  background-color: rgba(128,128,128,0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}
.blog-details div {
  margin: 20px 0;
  text-decoration: none;
}
.blog-details button {
  background: black;
  color: black;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: black;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}