@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #202124;  
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
  line-height: 1.6;

}

.navbar {
  font-family: "Unbounded";
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 0px;
  text-decoration: none;
  font-weight: bold;
  position: relative; 
  transition: all 0.5s ease; 
}

.navbar-link {
  text-decoration: none;
  color: inherit; 
}
.navbar:hover {
  transition: color 0.2s ease;
  color: skyblue;
}


.project-list {
  font-family: "Libre Franklin";
  font-size: 20px;
  padding: 20px;
  line-height: 3; /* Adjusted for better spacing */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-decoration: none;
}

.project-item {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Spread content to the edges */
  margin: 8px 0;
  position: relative;
  border-bottom: 4px solid black;
  width: 35%; /* Adjust width for proper alignment */
  transition: background-color 0.5s ease, color 0.3s ease; /* Added background color transition */
  text-decoration: none;
  color: white;
}

.project-item:hover {
  color: skyblue;
  background-color: transparent; /* Background color change on hover */
}

.project-number {
  font-weight: bold;
  font-size: 25px;
  text-align: left; /* Align number to the left */
}

.project-title {
  font-size: 25px;
  font-weight: normal;
  text-align: right; /* Align title to the right */
}

.project-line {
  height: 1px;
  
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
  left: 0;
}
